*{
    padding: 0px 0px;
    margin: 0px 0px;

}
body{
    scroll-behavior: smooth;
}

header{
    /* border: 2px solid red; */
    padding: 10px 10px;
    background-color: black;
    z-index: 1;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);

    /* background-color: ; */
    /* display: flex; */


}


.d1{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid greenyellow; */
    margin-left: 8rem;

}

.ul1{
    display: flex;
    

}

.header_right{
    /* border: 2px solid paleturquoise; */
    /* justify-content: center; */
    /* text-align: center; */
    padding-right: 130px;
    /* padding-top: px; */
    display: flex;
    /* justify-content: space-between; */
}

.ul1 a{
    text-decoration: none;
    font-size:18px;
    padding-top: 5px;
    /* font-weight: 500; */
    
    font-family: 'Roboto', sans-serif;

}

.ul1 li{
    list-style: none;
    /* border: 2px solid black; */
    justify-content: space-between;
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: white;


   
}

.logo_left p{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 25px;
    word-spacing: 2px;
    /* border: 2px solid fuchsia; */
    padding-top: 5px ;
    color: white;

}

.shopbtn{
    background-color:white;
    color: black;
    /* padding: 5px 2px; */
    border-radius: 18px;
    text-decoration: none;
    padding: 8px 30px;
    margin-left: 50px;
    /* padding-left: 10px; */
    /* margin-left: 15px; */
    /* padding-inline-start: 20px; */
    font-family: 'Roboto', sans-serif;

}

.sectionmidbody{
    padding-top: 80px;
    /* border: 2px solid red; */
}

.mainboxinside{
    /* border: 2px solid black; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}





.topheading{
    /* border: 2px solid blue; */
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 7px;

}

.bottom{
    /* border: 2px solid palevioletred; */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}

.eachdiv{
    /* border: 2px solid green; */
    display: inline-block;
    margin: 60px 40px;
    width: 17%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}



.eachdiv img{
    height: 180px;
    width: auto;
    position: relative;
    top: -80px;
    left: -5px;
    /* border: 2px solid red; */
}

.itemname{
    /* border: 2px solid red; */
    position: relative;
    top: -60px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: grey;

}

.priceitem{
    /* border: 2px solid red; */
    position: relative;
    top: -40px;
    font-size: 20px;
    /* color: grey; */
    font-family: 'Roboto', sans-serif;


}

.buyitem{
    /* border: 2px solid red; */
    border: none;
    position: relative;
    top: -20px;
    padding: 2px 30px;
    letter-spacing: 10px;
    color: white;
    background-color: black;

    font-size: 20px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;
    cursor: pointer;


}
main .featured {
	display: flex;
	flex-direction: column;
	background-image: url(imgs/featured-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
main .featured h2 {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	font-size: 68px;
	color: #FFFFFF;
	padding-bottom: 10px;
}
main .featured p {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-size: 24px;
	color: #FFFFFF;
}
main .recentlyadded h2 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
}
main .recentlyadded .products, main .products .products-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 0 0;
}
main .recentlyadded .products .product, main .products .products-wrapper .product {
	display: block;
	overflow: hidden;
	text-decoration: none;
	width: 25%;
	padding-bottom: 60px;
}
main .recentlyadded .products .product img, main .products .products-wrapper .product img {
	transform: scale(1);
	transition: transform 1s;
}
main .recentlyadded .products .product .name, main .products .products-wrapper .product .name {
	display: block;
	color: #555555;
	padding: 20px 0 2px 0;
}
main .recentlyadded .products .product .price, main .products .products-wrapper .product .price {
	display: block;
	color: #999999;
}
main .recentlyadded .products .product .rrp, main .products .products-wrapper .product .rrp {
	color: #BBBBBB;
	text-decoration: line-through;
}
main .recentlyadded .products .product:hover img, main .products .products-wrapper .product:hover img {
	transform: scale(1.05);
	transition: transform 1s;
}
main .recentlyadded .products .product:hover .name, main .products .products-wrapper .product:hover .name {
	text-decoration: underline;
}
main > .product {
	display: flex;
	padding: 40px 0;
}
main > .product > div {
	padding-left: 15px;
}
main > .product h1 {
	font-size: 34px;
	font-weight: normal;
	margin: 0;
	padding: 20px 0 10px 0;
}
main > .product .price {
	display: block;
	font-size: 22px;
	color: #999999;
}
main > .product .rrp {
	color: #BBBBBB;
	text-decoration: line-through;
	font-size: 22px;
	padding-left: 5px;
}
main > .product form {
	display: flex;
	flex-flow: column;
	margin: 40px 0;
}
main > .product form input[type="number"] {
	width: 400px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
main > .product form input[type="submit"] {
	background: #4e5c70;
	border: 0;
	color: #FFFFFF;
	width: 400px;
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
main > .product form input[type="submit"]:hover {
	background: #434f61;
}
main > .products h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main > .products .buttons {
	text-align: right;
	padding-bottom: 40px;
}
main > .products .buttons a {
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}
main > .products .buttons a:hover {
	background: #434f61;
}
main .cart h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main .cart table {
	width: 100%;
}
main .cart table thead td {
	padding: 30px 0;
	border-bottom: 1px solid #EEEEEE;
}
main .cart table thead td:last-child {
	text-align: right;
}
main .cart table tbody td {
	padding: 20px 0;
	border-bottom: 1px solid #EEEEEE;
}
main .cart table tbody td:last-child {
	text-align: right;
}
main .cart table .img {
	width: 80px;
}
main .cart table .remove {
	color: #777777;
	font-size: 12px;
	padding-top: 3px;
}
main .cart table .remove:hover {
	text-decoration: underline;
}
main .cart table .price {
	color: #999999;
}
main .cart table a {
	text-decoration: none;
	color: #555555;
}
main .cart table input[type="number"] {
	width: 68px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
main .cart .subtotal {
	text-align: right;
	padding: 40px 0;
}
main .cart .subtotal .text {
	padding-right: 40px;
	font-size: 18px;
}
main .cart .subtotal .price {
	font-size: 18px;
	color: #999999;
}
main .cart .buttons {
	text-align: right;
	padding-bottom: 40px;
}
main .cart .buttons input[type="submit"] {
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
main .cart .buttons input[type="submit"]:hover {
	background: #434f61;
}
main .placeorder h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main .placeorder p {
	text-align: center;
}
footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #EEEEEE;
	padding: 20px 0;
	width: 100%;
}